html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.body,
.pdf-content,
.grp-content {
  position: relative;
  text-align: center;
}

.body {
  top: 10%;
}

.pdf-list,
.grp-list {
  list-style: none;
}

.pdf-list li,
.grp-list li {
  margin: 20px 0;
}

.pdf-list a,
.grp-list a {
  color: rgb(48, 46, 115);
  text-decoration: none;
  font-size: 1.5em;
}

.grp-list a {
  color: rgb(46, 115, 106);
}

.pdf-list a:hover,
.grp-list a:hover {
  text-decoration: underline;
  color: rgb(15, 15, 15);
  font-size: 1.6em;
}

.grp-list a:hover {
  color: rgb(4, 90, 78);
}

.update-date {
  color: rgb(15, 15, 15);
  font-size: 0.8em;
}
